<% include templates/header.ejs %>
  
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<header class="text-center">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>    
</header>

<div class='form-group row'>
    <input id='search-name' type='text' class='form-control col-sm 3' placeholder="File Name *">
    <input id='search-term' type="text" class='form-control col-sm-9' placeholder="Enter Search *">
</div>

<div class="form-group row">
    <input id="search-latitude" type="text" class="form-control col-sm-4" placeholder="Enter Latitude">
    <input id='search-longitude' type="text" class='form-control col-sm-4' placeholder="Enter Longitude">
    <input id='search-distance' type="text" class='form-control col-sm-4' placeholder="Enter distance (in miles)">
 </div>
   

<div class="row">
    <div class="form-check col-sm-4">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="resultType" id="resultType1" value="mixed" checked>
        Mixed
      </label>
    </div>
    <div class="form-check col-sm-4">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="resultType" id="resultType2" value="recent">
        Recent
      </label>
    </div>
    <div class="form-check col-sm-4">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="resultType" id="resultType3" value="popular">
        Popular
      </label>
    </div>    
</div>



<button class='btn btn-primary' onclick='getTweets()'>Search</button>

<p id='search-warning' style="display: none;">Please enter a file name & search term.</p>
<div id="search-results" class="row"></div>
<hr>

<h2 class='text-center'>Cloud</h2>
<div class='row'>
    <button class="col-sm-4 btn btn-info" onclick="hashtagCloud()">Hashtags</button>
    <button class="col-sm-4 btn btn-info" onclick="userCloud()">Users</button>
    <button class="col-sm-4 btn btn-info" onclick="textCloud()">Text</button>
</div>

<div id="word-cloud"></div>
<div id="get-tweets" class="text-center" style="display: none;">
    <!--<button class="btn btn-danger" onclick="displayTweets()">Get Tweets</button>-->
</div>
<div id="embedded-tweets"></div>

<script src="/javascripts/index.js"></script>
    
<% include templates/footer.ejs %>