<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src='/bower_components/jquery/dist/jquery.min.js'></script>
    
    
    <script src="bower_components/jqcloud2/dist/jqcloud.min.js"></script>

    <link rel="stylesheet" href="bower_components/jqcloud2/dist/jqcloud.min.css">
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body class='container'>
